@import "compass/css3";
@import "colors";
@import "sprites";

.submissions {
  background: $background;

  table {
    width: 100%;
  }

  td, th {
    border-bottom: 1px solid lighten($background, 10); 
    padding: 0.5rem;
  }

  tr:hover td {
    background: lighten($background, 10);
  }

  .paid-submission td {
    background: $green-background;
  }

  th {
    background: lighten($background, 20);
    font-size: 80%;
    text-transform: uppercase;
  }

  th:nth-child(1),
  td:nth-child(1) {
    width: 40px;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 40px;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 140px;
  }

  .content-icon {
    @include sprite-image(files);
  }

  .twitter-icon {
    @include sprite-image(twitter);
  }

  .paid {
    @include sprite-image(paid);
  }

  .unpaid {
    @include sprite-image(unpaid);
  }
}
