@import "compass/css3";
@import "colors";

button,
a.button {
  // modify the box model
  display: inline-block;
  @include box-sizing(border-box);
  
  // decoration
  border: 1px solid $base-text;
  color: $base-text;
  background: transparentize($base-text, 1);

  // text formatting
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  font-size: 90%;
  text-transform: uppercase;

  // size
  width: 270px;
  height: 42px;
  line-height: 42px;

  @include transition(all 0.5s);

  &:hover,
  &:focus {
    color: $footer;
    background: transparentize($base-text, 0);
    text-decoration: none;
  }
}
