@import "compass/css3";
@import "base/media_query";
@import "base/params";

.bin-status {
  padding: 0.5rem;

  .title {
    font-size: 3rem;
    line-height: 3rem;
    float: left;
  }

  .bin-info-display {
    height: 3rem;
    padding: 0.3rem;
    .line {
      padding-left: 1rem;
    }
  }

  .bin-usage-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 0.5rem;
    background: white;
    margin-bottom: 0.5rem;
  }

  .bin-usage-bar-indicator {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: $o-accent;
  }
}

.bin-contents {
  padding: 0.5rem;

  .queue {
    &.hidden {
      display: none;
    }
  }
}
