@import "compass/css3";
@import "base/media_query";
@import "base/params";

$o-dark-blue: #152E44;

.bin-usage-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 0.5rem;
  background: white;
  margin-bottom: 0.5rem;
}

.bin-usage-bar-indicator {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: $o-accent;
}

.bin-status {
  padding: 0.5rem;

  .title {
    font-size: 3rem;
    line-height: 3rem;
    float: left;
  }

  .bin-info-display {
    height: 3rem;
    padding: 0.3rem;
    .line {
      padding-left: 1rem;
    }
  }
}

.bin-contents {
  padding: 0.5rem;

  .handles {
    display: inline-block;
    margin-bottom: 0.65rem;
    margin-top: 0.5rem;

    .handle {
      background-color: $o-dark-blue;
      padding: 0.75rem 1rem;
      color: $o-material;
      text-decoration: none;
      text-transform: uppercase;
      &.active {
        background-color: $o-accent;
      }
    }
  }

  .search {
    float: right;

    #query {
      height: 1.15rem;
      vertical-align: top;
    }
    button {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .queue {
    background-color: $o-accent;
    padding: 0.5rem;

    &.hidden {
      display: none;
    }
  }
}
