*.sw[op]
*.py[co]
/dist
/*.egg-info
/.ropeproject
/tmp
/.*pid
.webassets-cache
.webassets-manifest
.sass-cache
local.ini
*.eot
*.ttf
*.woff
*.woff2
/**/*-[a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9].css
/**/*-[a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9].js
