.content {
    .buttons {
      .left, .right {
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }
    }
    .hidden {
      display: none;
    }
    .file-wrapper {
      .button {
        margin-right: 10px;
      }
    }
}
