.content {
    .content-url {
        .url-prefix {
            width: 50%;
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
            border-right: 0 none;
            float: left;
            background-color: $earth;
        }
        #id_url {
            width: 50%;
            @include border-top-left-radius(0);
            @include border-bottom-left-radius(0);
        }
        .field-help.preview {
            font-weight: bold;
        }
    }
}
