#payment-form {
  .inline-fields {
    white-space: nowrap;
    .field {
      white-space: normal;
      display: inline-block;
      input {
        width: 150px;
        min-width: 0;
      }
    }
    .field.expiration {
      float: right;
    }
  }
}
