@import "outernet/mixins/media_query";

#payment-form {
  .form-errors {
    display: none;
  }

  .inline-fields {
    white-space: nowrap;

    .field {
      white-space: normal;
      display: inline-block;
      input {
        width: 150px;
        min-width: 0;
      }

      @include phone-portrait-wide {
        display: block;
      }
    }

    .cvc {
      float: left;

      @include phone-portrait-wide {
        float: none;
      }
    }

    .expiration {
      float: right;

      @include phone-portrait-wide {
        float: none;

        input {
          width: 44%;
        }
      }
    }
  }

  .buttons {
    clear: both;
  }
}
