@import "outernet/mixins/media_query";

.priority-help {
  color: $sub;
  @include sub;
  max-width: $phone-portrait-wide;
  margin: 0 auto;
}

#payment-form {
  .form-errors {
    display: none;
  }

  .inline-fields {
    .field {
      display: inline-block;
      input {
        width: 150px;
        min-width: 0;
      }

      @include phone-portrait-wide {
        display: block;
      }
    }

    .cvc {
      float: left;

      @include phone-portrait-wide {
        float: none;
      }
    }

    .field-help {
      clear: both;
    }

    .expiration {
      float: right;

      @include phone-portrait-wide {
        float: none;

        input {
          width: 44%;
        }
      }
    }
  }

  .buttons {
    clear: both;
  }
}
