@charset "UTF-8";
/* line 5, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.gem/ruby/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "OIcons";
  src: url('../font/oicons-7ec80804ecd98b09aa4e2a96fa073d61.eot?1472564996') format('embedded-opentype'), url('../font/oicons-7ec80804ecd98b09aa4e2a96fa073d61.ttf?1472564996') format('truetype'), url('../font/oicons-7ec80804ecd98b09aa4e2a96fa073d61.woff?1472564996') format('woff');
}
/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 7, ../../src/scss/_forms.scss */
input[type=text] {
  display: inline-block;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #0e516e;
  padding: 0.7rem;
  background: white;
  color: #333;
}
/* line 17, ../../src/scss/_forms.scss */
.field-error input[type=text] {
  background-color: #ffcccc;
}
@media only screen and (max-width: 360px) {
  /* line 7, ../../src/scss/_forms.scss */
  input[type=text] {
    width: 100%;
    padding: 0.7rem;
  }
}

/* line 27, ../../src/scss/_forms.scss */
.field-error-message {
  display: block;
  background: #f33;
  color: white;
  padding: 0.4rem;
  margin: 0.2rem 0;
  border: 1px solid #f33;
  position: relative;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 37, ../../src/scss/_forms.scss */
.field-error-message::before {
  position: absolute;
  top: -1.2rem;
  left: 0.2rem;
  width: 1.2rem;
  height: 1.2rem;
  content: '';
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 0.6rem solid #f33;
}

/* line 45, ../../src/scss/_forms.scss */
.field-help-message {
  display: block;
  font-size: 90%;
  color: #595959;
  line-height: 140%;
}

/* line 52, ../../src/scss/_forms.scss */
label,
label {
  display: block;
  font-size: 90%;
  text-transform: uppercase;
}
/* line 58, ../../src/scss/_forms.scss */
label.required::after,
label.required::after {
  content: '*';
  color: #f33;
}
/* line 63, ../../src/scss/_forms.scss */
label.field-label-inline,
label.field-label-inline {
  display: inline-block;
}

/* line 68, ../../src/scss/_forms.scss */
button,
a.button {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0.7rem 2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background: #1e8abb;
  color: white;
  border: 1px solid #1e8abb;
  text-decoration: none;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}
@media only screen and (max-width: 360px) {
  /* line 68, ../../src/scss/_forms.scss */
  button,
  a.button {
    width: 100%;
    padding: 0.7rem;
  }
}
/* line 89, ../../src/scss/_forms.scss */
button:visited,
a.button:visited {
  color: white;
}
/* line 93, ../../src/scss/_forms.scss */
button[disabled], button.disabled,
a.button[disabled],
a.button.disabled {
  background: #ccc;
  color: #888;
}
/* line 99, ../../src/scss/_forms.scss */
button.button-small,
a.button.button-small {
  padding: 0.3rem 0.7rem;
  font-size: 90%;
  letter-spacing: 0.21rem;
}
/* line 105, ../../src/scss/_forms.scss */
button .invisible-label,
a.button .invisible-label {
  display: none;
}
/* line 109, ../../src/scss/_forms.scss */
button .hover-tip,
a.button .hover-tip {
  display: none;
}
/* line 113, ../../src/scss/_forms.scss */
button .supplementary-info,
a.button .supplementary-info {
  dusplay: inline-block;
  font-size: 80%;
  vertical-align: middle;
  letter-spacing: 0;
}
/* line 121, ../../src/scss/_forms.scss */
button:hover .hover-tip,
a.button:hover .hover-tip {
  display: inline-block;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "OIcons";
  src: url('../font/oicons-7ec80804ecd98b09aa4e2a96fa073d61.eot?1472564996') format('embedded-opentype'), url('../font/oicons-7ec80804ecd98b09aa4e2a96fa073d61.ttf?1472564996') format('truetype'), url('../font/oicons-7ec80804ecd98b09aa4e2a96fa073d61.woff?1472564996') format('woff');
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 7, ../../src/scss/_basics.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../src/scss/_basics.scss */
html {
  height: 100%;
}

/* line 15, ../../src/scss/_basics.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  background: white;
  color: #333;
}

/* line 24, ../../src/scss/_basics.scss */
a {
  color: #1e8abb;
}
/* line 27, ../../src/scss/_basics.scss */
a:visited {
  color: #aa55ff;
}

/* line 32, ../../src/scss/_basics.scss */
h1 {
  font-size: 250%;
  line-height: 110%;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  /* line 32, ../../src/scss/_basics.scss */
  h1 {
    font-size: 180%;
    line-height: 110%;
  }
}

/* line 44, ../../src/scss/_basics.scss */
h2 {
  font-size: 150%;
  line-height: 110%;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  /* line 44, ../../src/scss/_basics.scss */
  h2 {
    font-size: 120%;
    line-height: 110%;
  }
}

/* line 56, ../../src/scss/_basics.scss */
p {
  margin-bottom: 1.4rem;
}

/* line 232, ../../src/scss/_OIcons.scss */
.icon {
  font-family: "OIcons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  font-size: 1.3em;
  display: inline-block;
  speak: none;
  vertical-align: middle;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 205, ../../src/scss/_OIcons.scss */
.icon ~ * {
  vertical-align: middle;
}
/* line 209, ../../src/scss/_OIcons.scss */
.icon:before {
  display: inline-block;
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-alert-key:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-alert-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-alert-question:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-alert-stop:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-alert:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-app-files:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-app-library:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-app-twitter:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-arrow-down:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-arrow-left:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-arrow-right:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-arrow-up:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-atmark:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-audio:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-box-minus:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-box-plus:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-arrow-down:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-arrow-in-down:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-arrow-in-left:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-arrow-in-right:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-arrow-in-up:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-arrow-left:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-arrow-right:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-arrow-up:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-dot:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-ok:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle-power:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-circle:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-clock:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-close:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-discard:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-download-bar:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-download-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-download:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-edit-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-edit:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-enter:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-ethernet:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-exit:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-expand-down:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-expand-left:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-expand-right:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-expand-up:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-favorite:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-audio:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-binary:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-globe:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-image:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-music:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-text-image:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-text:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-vector:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file-video:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-file:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-audio:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-circle:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-down:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-generic:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-html:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-image:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-left:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-locked:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-multi:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-no:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-ok:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-plus:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-right:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-up:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder-video:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-folder:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-fullscreen:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-gallery:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-generic:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-globe:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-help-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-help:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-html:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-image:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-import:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-info-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-info:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-key:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-list:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-listen:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-lock:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-menu:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-message-alert:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-message:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-minus-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-minus:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-multi-type:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-muted:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-network-bridge:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-no-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-no:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-ok-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-ok:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-other-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-other:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-outernet:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-pause:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-play:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-playlist-fast-forward:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-playlist-next:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-playlist-previous:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-playlist-rewind:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-plus-outline:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-plus:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-read:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-satellite:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-search:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-settings:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-0-lock:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-0-recv:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-0:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-1-lock:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-1-recv:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-1:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-2-lock:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-2-recv:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-2:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-3-lock:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-3-recv:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-3:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-detect:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-full-lock:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-full-recv:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-full:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal-search:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-signal:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-sound:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-spinner:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-stop:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-storage-internal:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-storage-usbdrive:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-storage-usbstick:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-test-circle:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-test-cross:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-test-square-full:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-test-square-hhalf:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-test-square-hmid:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-test-square-htop:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-test-square-vhalf:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-tuner:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-tweet:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-unlock:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-exclamation:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-key:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-minus:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-multiple:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-no:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-ok:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-plus:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-shield:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-star:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-unknown:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user-up:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-user:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-video-hd:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-video-sd:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-video:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-watch:before {
  content: "";
}

/* line 216, ../../src/scss/_OIcons.scss */
.icon-wifi:before {
  content: "";
}

/* line 242, ../../src/scss/_OIcons.scss */
.icon-spinning-loader {
  font-size: 100%;
}
/* line 216, ../../src/scss/_OIcons.scss */
.icon-spinning-loader:before {
  content: "";
}
/* line 225, ../../src/scss/_OIcons.scss */
.icon-spinning-loader:before {
  -moz-animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* line 246, ../../src/scss/_OIcons.scss */
.icon-spinning-loader-xxl {
  font-size: 300%;
}
/* line 216, ../../src/scss/_OIcons.scss */
.icon-spinning-loader-xxl:before {
  content: "";
}
/* line 225, ../../src/scss/_OIcons.scss */
.icon-spinning-loader-xxl:before {
  -moz-animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 4, ../../src/scss/_jumplist.scss */
.jump-list {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 1rem;
  background: rgba(51, 51, 51, 0.7);
  color: white;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  /* line 4, ../../src/scss/_jumplist.scss */
  .jump-list {
    display: block;
  }
}
@media only screen and (max-width: 580px) {
  /* line 4, ../../src/scss/_jumplist.scss */
  .jump-list {
    padding: 1rem;
  }
  /* line 22, ../../src/scss/_jumplist.scss */
  .jump-list .text-label {
    display: none;
  }
  /* line 26, ../../src/scss/_jumplist.scss */
  .jump-list .icon {
    font-size: 200%;
  }
}
/* line 31, ../../src/scss/_jumplist.scss */
.jump-list a {
  display: inline-block;
  margin: 0 0.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 4, ../../src/scss/_status.scss */
.capacity .capacity-gauge-outer {
  position: relative;
  display: block;
  background: #176a8f;
  height: 0.5rem;
  margin-bottom: 0.5rem;
}
/* line 12, ../../src/scss/_status.scss */
.capacity .capacity-gauge-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  background: #1e8abb;
}

/* line 23, ../../src/scss/_status.scss */
.status h1 {
  padding: 2rem 2rem 1rem;
}
/* line 27, ../../src/scss/_status.scss */
.status .stats {
  padding: 1rem 2rem;
}
/* line 30, ../../src/scss/_status.scss */
.status .stats h2 {
  text-align: right;
}
/* line 35, ../../src/scss/_status.scss */
.status .upload,
.status .review,
.status .candidates {
  float: left;
  padding: 0 2rem;
}
/* line 42, ../../src/scss/_status.scss */
.status .upload {
  background: #eee;
  padding-top: 1rem;
  width: 20%;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media only screen and (max-width: 1100px) {
  /* line 42, ../../src/scss/_status.scss */
  .status .upload {
    float: none;
    width: auto;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
/* line 58, ../../src/scss/_status.scss */
.status .review,
.status .candidates {
  width: 40%;
}
@media only screen and (max-width: 1100px) {
  /* line 58, ../../src/scss/_status.scss */
  .status .review,
  .status .candidates {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 58, ../../src/scss/_status.scss */
  .status .review,
  .status .candidates {
    width: 100%;
    float: none;
  }
}
/* line 72, ../../src/scss/_status.scss */
.status .item {
  border-top: 1px solid #ddd;
  position: relative;
  padding: 1rem 0 0 4rem;
  width: 100%;
  margin-bottom: 2rem;
}
/* line 79, ../../src/scss/_status.scss */
.status .item p {
  margin: 0;
}
/* line 83, ../../src/scss/_status.scss */
.status .item .item-name {
  font-size: 120%;
  margin-bottom: 0.5rem;
}
/* line 88, ../../src/scss/_status.scss */
.status .item .item-attribution {
  font-size: 80%;
  color: #595959;
}
/* line 93, ../../src/scss/_status.scss */
.status .item .vote-form {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 3rem;
  color: white;
  text-align: center;
}
/* line 102, ../../src/scss/_status.scss */
.status .item .vote-count {
  width: 100%;
  display: block;
  padding: 0.2rem 0;
  font-weight: bold;
  background: #5ab9e5;
}
/* line 110, ../../src/scss/_status.scss */
.status .item .vote-icon {
  border: 0 solid transparent;
  background: #1e8abb;
  color: #333;
  letter-spacing: 0;
  padding: 0.2rem 0;
  text-transform: none;
  width: 3rem;
  color: white;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 121, ../../src/scss/_status.scss */
.status .item .vote-icon[disabled] {
  background: #ccc;
  color: #888;
}
/* line 127, ../../src/scss/_status.scss */
.status .item .vote-up {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 132, ../../src/scss/_status.scss */
.status .item .vote-down {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/**
 * _media_query.scss: media query support
 *
 * Copyright 2014-2015, Outernet Inc.
 * Some rights reserved.
 *
 * This software is free software licensed under the terms of GPLv3. See
 * COPYING file that comes with the source code, or
 * http://www.gnu.org/licenses/gpl.txt.
 */
/* line 8, ../../src/scss/_home.scss */
.home {
  height: 100%;
  background: #1e8abb;
  background-image: url('../img/radiodrive.jpg?1472567577');
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
}
/* line 17, ../../src/scss/_home.scss */
.home input[type=text] {
  background-color: #176a8f;
  border-color: white;
  color: white;
}
/* line 23, ../../src/scss/_home.scss */
.home .stats {
  float: right;
  text-align: right;
  width: 40%;
  margin: 6rem 0 2rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  -moz-border-radius-topleft: 1rem;
  -webkit-border-top-left-radius: 1rem;
  border-top-left-radius: 1rem;
  -moz-border-radius-bottomleft: 1rem;
  -webkit-border-bottom-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
@media only screen and (max-width: 800px) {
  /* line 23, ../../src/scss/_home.scss */
  .home .stats {
    width: auto;
    float: none;
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
/* line 41, ../../src/scss/_home.scss */
.home .stats p {
  margin-bottom: 0.5rem;
}
/* line 44, ../../src/scss/_home.scss */
.home .stats p:last-child {
  margin-top: 2rem;
}

/* line 51, ../../src/scss/_home.scss */
.hero {
  width: 50%;
  padding: 6rem 2rem 2rem;
  float: left;
}
@media only screen and (max-width: 800px) {
  /* line 51, ../../src/scss/_home.scss */
  .hero {
    width: auto;
    float: none;
    padding: 3rem 2rem 2rem;
  }
}
/* line 62, ../../src/scss/_home.scss */
.hero p {
  max-width: 80rem;
}
/* line 66, ../../src/scss/_home.scss */
.hero .field {
  max-width: 300px;
}
/* line 70, ../../src/scss/_home.scss */
.hero .title {
  font-size: 400%;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media only screen and (max-width: 1302px) {
  /* line 70, ../../src/scss/_home.scss */
  .hero .title {
    font-size: 300%;
  }
}
@media only screen and (max-width: 1016px) {
  /* line 70, ../../src/scss/_home.scss */
  .hero .title {
    font-size: 240%;
  }
}
/* line 85, ../../src/scss/_home.scss */
.hero .subtitle {
  display: inline-block;
  position: relative;
  left: 1.65rem;
  background: white;
  color: #333;
  padding: 0.1rem 1rem;
  height: 1.6rem;
  max-width: none;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 440px) {
  /* line 85, ../../src/scss/_home.scss */
  .hero .subtitle {
    left: 0;
  }
}
/* line 103, ../../src/scss/_home.scss */
.hero .subtitle a {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -3rem;
  height: 100%;
  width: 3rem;
  background: #176a8f;
  font-size: 140%;
  text-align: center;
  color: white;
}
/* line 115, ../../src/scss/_home.scss */
.hero .subtitle a .text-label {
  display: none;
}
/* line 119, ../../src/scss/_home.scss */
.hero .subtitle a::after {
  width: 1.6rem;
  height: 1.6rem;
  content: '';
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0.8rem solid #176a8f;
  border-left: 0.8rem solid #176a8f;
  border-right: 0.8rem solid transparent;
  border-bottom: 0.8rem solid transparent;
  position: absolute;
  right: -1.6rem;
  top: 0;
}
@media only screen and (max-width: 440px) {
  /* line 119, ../../src/scss/_home.scss */
  .hero .subtitle a::after {
    display: none;
  }
}
/* line 131, ../../src/scss/_home.scss */
.hero .subtitle::before {
  width: 1.6rem;
  height: 1.6rem;
  content: '';
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 0.8rem solid transparent;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid white;
  border-bottom: 0.8rem solid white;
  position: absolute;
  left: -1.6rem;
  top: 0;
}
@media only screen and (max-width: 440px) {
  /* line 131, ../../src/scss/_home.scss */
  .hero .subtitle::before {
    display: none;
  }
}
/* line 143, ../../src/scss/_home.scss */
.hero button,
.hero .button {
  border-color: white;
  background: white;
  color: #1e8abb;
}
/* line 149, ../../src/scss/_home.scss */
.hero button:visited,
.hero .button:visited {
  color: #1e8abb;
}
/* line 155, ../../src/scss/_home.scss */
.hero .beta-signup label {
  display: none;
}
