@import "colors";

.error {
  background: $background-inverse;
  color: $foreground-inverse;

  &.error-500 {
    background: $alert;
  }

  a {
    color: $foreground-inverse;
  }

  .error-code {
    padding: 2rem 2rem 1rem;
  }

  .error-message {
    font-size: 120%;
  }

  .error-description {
    padding: 0 2rem;

    textarea {
      width: 100%;
      height: 20rem;
      background: black;
      padding: 1rem;
      color: $foreground-inverse;
      border: 0 solid transparent;
      font-family: monospace;
    }
  }
}
