@import "compass/css3";

$oicons-prefix: '' !default;

$glyphs: (
  alert-key: '\f101',
  alert-outline: '\f102',
  alert-question: '\f103',
  alert-stop: '\f104',
  alert: '\f105',
  app-files: '\f106',
  app-library: '\f107',
  app-twitter: '\f108',
  arrow-down: '\f109',
  arrow-left: '\f10a',
  arrow-right: '\f10b',
  arrow-up: '\f10c',
  atmark: '\f10d',
  audio: '\f10e',
  box-minus: '\f10f',
  box-plus: '\f110',
  circle-arrow-down: '\f111',
  circle-arrow-in-down: '\f112',
  circle-arrow-in-left: '\f113',
  circle-arrow-in-right: '\f114',
  circle-arrow-in-up: '\f115',
  circle-arrow-left: '\f116',
  circle-arrow-right: '\f117',
  circle-arrow-up: '\f118',
  circle-dot: '\f119',
  circle-ok: '\f11a',
  circle-power: '\f11b',
  circle: '\f11c',
  clock: '\f11d',
  close: '\f11e',
  discard: '\f11f',
  download-bar: '\f120',
  download-outline: '\f121',
  download: '\f122',
  edit-outline: '\f123',
  edit: '\f124',
  enter: '\f125',
  ethernet: '\f126',
  exit: '\f127',
  expand-down: '\f128',
  expand-left: '\f129',
  expand-right: '\f12a',
  expand-up: '\f12b',
  favorite: '\f12c',
  file-audio: '\f12d',
  file-binary: '\f12e',
  file-globe: '\f12f',
  file-image: '\f130',
  file-music: '\f131',
  file-text-image: '\f132',
  file-text: '\f133',
  file-vector: '\f134',
  file-video: '\f135',
  file: '\f136',
  flag: '\f137',
  folder-audio: '\f138',
  folder-circle: '\f139',
  folder-down: '\f13a',
  folder-generic: '\f13b',
  folder-html: '\f13c',
  folder-image: '\f13d',
  folder-left: '\f13e',
  folder-locked: '\f13f',
  folder-multi: '\f140',
  folder-no: '\f141',
  folder-ok: '\f142',
  folder-plus: '\f143',
  folder-right: '\f144',
  folder-up: '\f145',
  folder-video: '\f146',
  folder: '\f147',
  fullscreen: '\f148',
  gallery: '\f149',
  generic: '\f14a',
  globe: '\f14b',
  help-outline: '\f14c',
  help: '\f14d',
  html: '\f14e',
  image: '\f14f',
  import: '\f150',
  info-outline: '\f151',
  info: '\f152',
  key: '\f153',
  list: '\f154',
  listen: '\f155',
  lock: '\f156',
  menu: '\f157',
  message-alert: '\f158',
  message: '\f159',
  minus-outline: '\f15a',
  minus: '\f15b',
  multi-type: '\f15c',
  muted: '\f15d',
  network-bridge: '\f15e',
  no-outline: '\f15f',
  no: '\f160',
  ok-outline: '\f161',
  ok: '\f162',
  other-outline: '\f163',
  other: '\f164',
  outernet: '\f165',
  pause: '\f166',
  play: '\f167',
  playlist-fast-forward: '\f168',
  playlist-next: '\f169',
  playlist-previous: '\f16a',
  playlist-rewind: '\f16b',
  plus-outline: '\f16c',
  plus: '\f16d',
  read: '\f16e',
  satellite: '\f16f',
  search: '\f170',
  settings: '\f171',
  signal-0-lock: '\f172',
  signal-0-recv: '\f173',
  signal-0: '\f174',
  signal-1-lock: '\f175',
  signal-1-recv: '\f176',
  signal-1: '\f177',
  signal-2-lock: '\f178',
  signal-2-recv: '\f179',
  signal-2: '\f17a',
  signal-3-lock: '\f17b',
  signal-3-recv: '\f17c',
  signal-3: '\f17d',
  signal-detect: '\f17e',
  signal-full-lock: '\f17f',
  signal-full-recv: '\f180',
  signal-full: '\f181',
  signal-search: '\f182',
  signal: '\f183',
  sound: '\f184',
  spinner: '\f185',
  stop: '\f186',
  storage-internal: '\f187',
  storage-usbdrive: '\f188',
  storage-usbstick: '\f189',
  test-circle: '\f18a',
  test-cross: '\f18b',
  test-square-full: '\f18c',
  test-square-hhalf: '\f18d',
  test-square-hmid: '\f18e',
  test-square-htop: '\f18f',
  test-square-vhalf: '\f190',
  tuner: '\f191',
  tweet: '\f192',
  unlock: '\f193',
  upload-bar: '\f194',
  upload-outline: '\f195',
  upload: '\f196',
  user-exclamation: '\f197',
  user-key: '\f198',
  user-minus: '\f199',
  user-multiple: '\f19a',
  user-no: '\f19b',
  user-ok: '\f19c',
  user-plus: '\f19d',
  user-shield: '\f19e',
  user-star: '\f19f',
  user-unknown: '\f1a0',
  user-up: '\f1a1',
  user: '\f1a2',
  video-hd: '\f1a3',
  video-sd: '\f1a4',
  video: '\f1a5',
  watch: '\f1a6',
  wifi: '\f1a7',
);

@include keyframes('spin') {
  from { @include rotate(0deg); }
  to { @include rotate(360deg); }
}

// Shortcut to add font-face definition
@mixin icon-font-face {
  @include font-face(
    'OIcons', font-files(
      "#{$oicons-prefix}oicons-30b4c6678d1efb92694c46ece5fc1581.eot",
      "#{$oicons-prefix}oicons-30b4c6678d1efb92694c46ece5fc1581.ttf",
      "#{$oicons-prefix}oicons-30b4c6678d1efb92694c46ece5fc1581.woff"));
}

// Base styles for all icons
@mixin icon-base {
  // Typography
  font-family: "OIcons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  font-size: 1.3em;

  // Basic geometry
  display: inline-block;
  speak: none;
  vertical-align: middle;

  // Text rendering settings
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & ~ * {
    vertical-align: middle;
  }

  &:before {
    display: inline-block;
  }
}

// Mixin for a single icon
@mixin icon($name) {
  &:before {
    content: map-get($glyphs, $name);
  }
}

@mixin spinner($size: 100%) {
  @include icon(spinner);
  font-size: $size;

  &:before {
    @include animation(spin 2s linear infinite);
  }
}

// Shortcut to add all icon classes
@mixin icon-classes {
  .icon {
    @include icon-base;
  }

  @each $name in map-keys($glyphs) {
    .icon-#{$name} {
      @include icon($name);
    }
  }

  .icon-spinning-loader {
    @include spinner;
  }

  .icon-spinning-loader-xxl {
    @include spinner(300%);
  }
}
