.capacity {
  .capacity-gauge-outer {
    position: relative;
    display: block;
    background: darken($background-inverse, 10);
    height: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .capacity-gauge-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    background: $background-inverse;
  }
}
