@import "media_query";

.capacity {
  .capacity-gauge-outer {
    position: relative;
    display: block;
    background: darken($background-inverse, 10);
    height: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .capacity-gauge-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    background: $background-inverse;
  }
}

.status {
  .upload,
  .review,
  .candidates {
    float: left;
    padding: 0 2rem;
  }

  h1 {
    padding: 2rem 2rem 1rem;
  }

  .stats {
    padding: 1rem 2rem;

    h2 {
      text-align: right;
    }
  }

  .upload {
    width: 20%;

    @include narrower-than(1100px) {
      float: none;
      width: auto;
      padding-bottom: 2rem;
    }
  }

  .review,
  .candidates {
    width: 40%;

    @include narrower-than(1100px) {
      width: 50%;
    }

    @include narrower-than(768px) {
      width: 100%;
      float: none;
    }
  }

  .item {
    border-top: 1px solid $separator;
    position: relative;
    padding: 1rem 0 0 4rem;
    width: 100%;
    margin-bottom: 2rem;

    p {
      margin: 0;
    }

    .item-name {
      font-size: 120%;
      margin-bottom: 0.5rem;
    }

    .item-attribution {
      font-size: 80%;
      color: $aux-info;
    }

    .vote-form {
      position: absolute;
      top: 1rem;
      left: 0;
      width: 3rem;
      color: $foreground-inverse;
      text-align: center;
    }

    .vote-count {
      width: 100%;
      display: block;
      padding: 0.2rem 0;
      font-weight: bold;
      background: lighten($background-inverse, 20);
    }

    .vote-icon {
      border: 0 solid transparent;
      background: $background-inverse;
      color: $foreground;
      letter-spacing: 0;
      padding: 0.2rem 0;
      text-transform: none;
      width: 3rem;
      color: $foreground-inverse;
      @include border-radius(0);

      &[disabled] {
        background: $disabled;
        color: $disabled-text;
      }
    }

    .vote-up {
      @include border-top-left-radius(3px);
      @include border-top-right-radius(3px);
    }

    .vote-down {
      @include border-bottom-left-radius(3px);
      @include border-bottom-right-radius(3px);
    }
  }
}
