@import "media_query";
@import "compass/css3";

.capacity {
  .capacity-gauge-outer {
    position: relative;
    display: block;
    background: darken($background-inverse, 10);
    height: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .capacity-gauge-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    background: $background-inverse;
  }
}

.status {
  h1 {
    padding: 2rem 2rem 1rem;
  }

  .stats,
  .info {
    width: 50%;
    float: left;
    padding: 1rem 2rem;

    @include narrower-than(688px) {
      float: none;
      width: auto;
    }
  }

  .queue-diagram {
    font-size: 200%;
    padding: 1rem 0 0;
    white-space: nowrap;
    color: $background-inverse;

    .icon-arrow-right {
      font-size: 80%;
      margin: 0 0.5rem;
    }
  }

  .notes {
    font-size: 90%;
    color: $aux-info;
  }

  .upload,
  .review,
  .candidates {
    float: left;
    padding: 1rem 2rem;
  }

  .upload {
    background: $background-subtle;
    padding-top: 1rem;
    width: 20%;

    @include narrower-than(1100px) {
      float: none;
      width: auto;
    }
  }

  .review,
  .candidates {
    width: 40%;

    @include narrower-than(1100px) {
      width: 50%;
    }

    @include narrower-than(768px) {
      width: 100%;
      float: none;
    }
  }
}
