@import "colors";
@import "fonts";
@import "mixins/browser_fixes";

html {
  @include ios-font-size-fix;
}

body {
  // text formatting
  font-family: 'Brandon Text', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 140%;

  // colors
  background: $footer;
  color: $base-text;

  // layout
  min-width: 300px;
}

a {
  color: $link;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: $link-visited;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 214%;
  line-height: 130%;
}
