@import "compass/typography";
@import "outernet/mixins/colors";
@import "outernet/mixins/grid";
@import "outernet/mixins/media_query";
@import "sprites";

body {
  padding-top: 60px;
  background: $universe;
}

.main, .body {
  background: $white;
}

@mixin h-bar {
  background: $earth;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
}

.menu {
  background: $white;

  .logo-broadcast {  
    @include misc-icon('broadcastcenter');
    @include hide-text;
  }
}

.h-bar {
  padding: 20px;
  text-align: center;
  @include h-bar;
}

.h-top-bar {
  padding: 10px;
  text-align: right;
  @include h-bar;
}

@mixin full-page-attn {
  max-width: 560px;
  margin: 0 auto;
  padding: 60px 20px;
}

.full-page-form {
  @include full-page-attn;

  input[type="text"],
  input[type="numeric"],
  input[type="email"],
  input[type="file"],
  input[type="password"],
  select,
  textarea
  {
    min-width: 200px;
    max-width: 100%;
    width: 100%;
  }

  .buttons, .help {
    padding-top: 1.5em;
    text-align: center;
  }
}

.single {
  text-align: center;
  @include heading-5;

  &.confirm {
    color: $forest;
  }

  &.error {
    color: $fire;
  }
}

.center {
  text-align: center;
}
