@import "outernet/mixins/colors";
@import "outernet/mixins/media_query";

.switch {
  max-width: 650px;
  min-height: 60px;
  margin: 0 auto;
  .left, .center, .right {
    border: 1px solid $border;
    padding: 10px 0;
    width: 33%;
    height: 44px;
    float: left;
    background-color: $white;
    @include box-sizing(border-box);
    @include link-cta;

    @include phone-portrait-wide {
      float: none;
      display: block;
      margin-bottom: 1em;
      width: 100%;
    }
  }
  .left {
    border-right: 0 none;
    @include border-radius(100px 0 0 100px);

    @include phone-portrait-wide {
      border: 1px solid $border;
      @include border-radius(100px);
    }
  }
  .right {
    @include border-radius(0 100px 100px 0);

    @include phone-portrait-wide {
      border: 1px solid $border;
      @include border-radius(100px);
    }
  }
  .center {
    border-left: 0 none;
    border-right: 0 none;
    @include phone-portrait-wide {
      border: 1px solid $border;
      @include border-radius(100px);
    }
  }
  .icon {
    display: inline-block;
    visibility: hidden;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    @include with-hdpi('icons', 'checkmark', yes);
  }
  .active {
    background-color: $earth;
    @include link-confirm;
    .icon {
      visibility: visible;
    }
  }
}
