.tab {
  background-color: $white;
  .tab-link {
    color: $iconic;
    border-bottom: 1px solid $iconic;
    border-right: 1px solid $iconic;
    @include box-sizing(border-box);
    padding: 10px 20px;
    margin-bottom: 10px;
    float: left;
  }
  .tab-link:hover {
    text-decoration: none;
  }
  .tab-link:last-child {
    border-right: 0 none;
  }
  .tab-link.active {
    color: $base;
    font-weight: bold;
    border-bottom: 3px solid $iconic;
  }
}
.clear {
  clear: both;
}
